<div class="w-100 bg-primary py-3 px-3">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <img src="assets/breeze-logo-white.svg" alt="" width="120">
      <div class="d-flex align-items-center">
        <span class="text-white font-weight-bold font-lg mb-0">Flight Information for</span>
        <div class="form-group ml-1">
          <select name="" id="" class="form-control">
            <option value="">Select Option</option>
            <option value="TPA">TPA</option>
            <option value="SNA">SNA</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
